$color-border: #DCDCDC;
$color-theme-bg: #f1f1f1;
$color-theme-font: #202020;

@function rpx($px) {
  @return $px/1*1rpx
}

@mixin two-wrap {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-break: break-all;
}

body, html {
  min-width: rpx(300);
  height: rpx(750);
  font-family: 'Helvetica Neue', Arial, Verdana, Sans-serif;
  color: #666;
}
