@function rpx($px) {
  @return $px/1*1rpx
}

$color-border: #DCDCDC;
$color-theme-bg: #f1f1f1;
$color-theme-font: #202020;
/** 常用色值 **/
$colorA: #f9c700;
$colorB: #ff5400;
$colorC: #333;
$colorD: #6699cc;
$colorE: #9cb3c5;
$colorF: #e0e6ec;
$colorG: #666;
$colorH: #999;
$colorI: #ccc;
$colorJ: #d7d7d7;
$colorK: #e3e3e3;
$colorL: #f1f3f5;
$colorM: #fff;
$colorN: #e5e5e5;
$colorO: #afafaf;
$colorP: #ff8605;
$colorQ: #f9fbfc;
$colorR: #001529;
$colorS: #002140;
$colorT: #232526;
$colorU: #bebebe;

/** 常用字体大小 **/
$fontA: rpx(34);
$fontB: rpx(24);
$fontC: rpx(22);
$fontD: rpx(20);
$fontE: rpx(18);
$fontF: rpx(16);
$fontG: rpx(14);
$fontH: rpx(12);

@mixin two-wrap {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-break: break-all;
}

.radiusBox {
  width: 96%;
  margin:0 auto;
  margin-top: rpx(15);
  border-radius: rpx(20);
}

body, html {
  min-width: rpx(300);
  height: rpx(750);
  font-family: 'Helvetica Neue', Arial, Verdana, Sans-serif;
  color: #666;
}
